<div class="container">
  <div>
    <div class="image-container">
      <div class="image-item" *ngFor="let image of images; let i = index;">
        <h1>{{i + 1}}</h1>
      </div>
    </div>
  </div>
  
  <div class="image">
    Some Image
  </div>
  <div class="image">
    Some Image
  </div>
  <div class="image">
    Some Image
  </div>

</div>