@media only screen and (max-width: 600px) {
    .container {
        padding: 3em 5%;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }

    .image-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1em; 
        overflow-x: scroll;  
    }
    .image-item {
        min-width: 38vw;
        height: 30vh;
        border: 2px solid lightblue;
        margin-right: 20px;
        border-radius: 8px;
    }
    .title {
        position: fixed;
        top: 1em;
        left: 5%;
    }
    .image {
        width: 100%;
        height: 30vh;
        border: 2px solid lightblue;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        border-radius: 8px;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        padding: 30px 50px;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .image-item {
        grid-area: image-item;
        width: 18vw;
        height: 30vh;
        border: 2px solid lightblue;
        margin-top: 10px;
        border-radius: 8px;
    }
    .image {
        width: 100%;
        height: 30vh;
        border: 2px solid lightblue;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
        border-radius: 8px;
    }

}
